/**********nav**********/
header {
    position: fixed;
    height: 10vh;
    top: 0; left: 0; right: 0;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
  }
  
  header .logo {
    height: 4vw;
  }

  header .navbar ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }
  
  header .navbar ul li {
    position: relative;
    float: left;
  }
  
  header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: black;
    display: block;
    text-decoration: none;
  }

  header .navbar ul li a:hover {
    background-color: #000000;
    color: #ffffff;
  }

  .button_nav {
    background-color: #ffffff;
    border-color:  #000000;
    margin-left: 2vw;
  }
  
  header .navbar ul li .button:hover {
    background-color: transparent;
    color: black;
  }

  header .navbar ul li .button a:hover {
    background-color: transparent;
  }

  header .navbar ul li a:hover {
    cursor: pointer;
  }
  
  header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #ffffff;
    display: none;
    padding: 0;
  }

  header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
  }

  header .navbar ul li ul li ul{
    left: 200px;
    top: 0;
  }

  header .navbar ul li:focus-within> ul,
  header .navbar ul li:hover> ul{
    display: initial;
  }

  #menu-bar {
    display: none;
  }

  header label {
    font-size: 20px;
    color: black;
    cursor: pointer;
    display: none;
  }
  .flechaAbajo {
    width: 1vw;
}
  
  /****media query****/
  @media(max-width:991px) {
    header{
      padding:15px;
      justify-content: space-around;
      /*   */
    }

    header label {
      display: initial;
    }

    header .navbar {
      position: absolute;
      top: 100%; left:0; right:0;
      background-color: #ffffff;
      border-top: 1px solid rgba(0, 0, 0, .1);
      display: none;
    }

    header .navbar ul {
      flex-direction: column;
    }

    header .navbar ul li {
      width: 100%;
    }

    header .navbar ul li ul {
      position: relative;
      width: 100%;
    }

    header .navbar ul li ul li {
      background-color: #ffffff;
    }

    header .navbar ul li ul li ul{
      width: 100%;
      left: 0;
    }

    #menu-bar:checked~.navbar {
      display: initial;
    }

    header .navbar ul li a {
      margin-bottom: 1vh;
    }
  }
   /****media query****/
  
  /**********nav**********/